.TaskList {
  margin: 0 100px 0 100px ;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;

}

.TaskList li {
  display: block;
  
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.TaskList h2 {
  display: flex;
  justify-content: center;
  margin: 5px;
  padding-bottom: 10px;

}

.TaskList h4 {
  margin: 10px;
}

.AddTask {
  margin: 0 100px 0 100px;
}

.AddTask textarea {
  resize: vertical;
  overflow: auto;
  max-width: 100%;
}